bin/*
src/*.o
qhull/qconvex
qhull/qdelaunay
qhull/qhalf
qhull/qhull
qhull/qvoronoi
qhull/rbox
qhull/src/*.o
qhull/src/qconvex
qhull/src/qdelaunay
qhull/src/qhalf
qhull/src/qhull
qhull/src/qvoronoi
qhull/src/rbox
qhull/src/libqhull.a
python_tools/*.pyc
parameters/*.pyc
wisdom*
fastmodules.so
python_tools/fastmodules.c
python_tools/fastmodules*.so
python_tools/*.pyc
parameters/*.pyc
build/
python_tools/pyCUTE
example_output/*
